body{
    background-color: rgb(255, 0, 128);
}
.heading{
    display: flex;
    justify-content: space-between;
}
.grid{
    display: flex;
 flex-wrap: wrap;
 justify-content: space-evenly  ;   
}